extend layout

block content
  main(role='main', class='off')
    section.settings
      h1 Chatspaces
      ul
        li(ng-if='isAuthenticated', ng-click='toggleSettings()')
          a(href='/dashboard') Messages
        li(ng-if='isAuthenticated', ng-click='toggleSettings()')
          a(href='javascript:;') Friends
        li(ng-if='isAuthenticated', ng-click='toggleSettings()')
          a(href='/profile') Profile
        li(ng-if='isAuthenticated', ng-click='toggleSettings()')
          a(href='javascript:;', ng-click='logout()') Logout
        li(ng-if='!isAuthenticated', ng-click='toggleSettings()')
          a(href='javascript:;', ng-click='login()') Sign in
    section.default
      div(ng-view)

