extend layout

block content
  main(role='main', class='off')
    section.settings
      h1 Chatspaces
      ul
        li(ng-if='isAuthenticated')
          a(href='/dashboard', ng-click='toggleSettings()') Messages
        li(ng-if='isAuthenticated')
          a(href='javascript:;', ng-click='toggleSettings()') Friends
        li(ng-if='isAuthenticated')
          a(href='/profile', ng-click='toggleSettings()') Profile
        li(ng-if='isAuthenticated')
          a(href='javascript:;', ng-click='logout()') Logout
        li(ng-if='!isAuthenticated')
          a(href='javascript:;', ng-click='login()') Sign in
    section.default
      div(ng-view)

