extend layout

block content
  main(role='main', class='off')
    section.settings
      h1 Chatspaces
      ul
        li
          a(href='javascript:;') Messages
        li
          a(href='javascript:;') Friends
        li
          a(href='javascript:;') Profile
        li
          a(href='javascript:;') Logout
    section.default
      div(ng-view)

