extend layout

block content
  main(role='main', ng-class='settings ? "on" : "off"')
    section.settings
      ul
        li(ng-if='isAuthenticated')
          a(href='/dashboard', ng-click='toggleSettings()') Threads
        li(ng-if='isAuthenticated')
          a(href='/friends', ng-click='toggleSettings()') Friends
        li(ng-if='isAuthenticated')
          a(href='/search', ng-click='toggleSettings()') Search Users
        li(ng-if='isAuthenticated')
          a(href='/blocked', ng-click='toggleSettings()') Blocked Users
        li(ng-if='isAuthenticated')
          a(href='/profile', ng-click='toggleSettings()') Profile
        li(ng-if='isAuthenticated')
          a(href='javascript:;', ng-click='logout()') Sign out

    section.default
      div(ng-view)

