!!! 5
html(ng-app='chatspace')
  head
    title chatspaces
    meta(content='width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0', name='viewport')
    meta(content='yes', name='apple-mobile-web-app-capable')
    base(href='/')
    link(rel='shortcut icon', href='/images/favicon.png')
    link(rel='stylesheet', href='/stylesheets/main.css')

  body(ng-controller='AppCtrl')
    #header
      button(class='toggle', ng-click='toggleSettings()') ≡
      a(id='notifications', href='/dashboard')
    #wrapper
      block content

    script(src='https://login.persona.org/include.js')
    script(src='/javascripts/vendor/jquery.js')
    script(src='/javascripts/vendor/Animated_GIF/Animated_GIF.js')
    script(src='/javascripts/vendor/Animated_GIF/omggif.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/vendor/angular.js')
    script(src='/javascripts/vendor/angular-route.js')
    script(src='/javascripts/lib/gumhelper.js')
    script(src='/javascripts/lib/videoShooter.js')
    script(src='/javascripts/app.js')
    script(src='/javascripts/factories.js')
    script(src='/javascripts/controllers.js')
