doctype html
html(ng-app='chatspaces', manifest='#{appcache}')
  head
    title Chatspaces
    meta(content='width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0', name='viewport')
    meta(content='yes', name='apple-mobile-web-app-capable')
    base(href='/')
    link(rel='shortcut icon', href='/images/icons/favicon.png')
    link(rel='stylesheet', href='/stylesheets/main.css')

  body(ng-controller='AppCtrl', ng-class='{ landing : !isAuthenticated }')
    #header(ng-if='isAuthenticated')
      a(class='toggle', ng-click='toggleSettings()') ≡

      #top-bar
        .profile
          a.action.add-message(href='/message', ng-click='newMessage()', title="Add a new message", ng-show='username') +

    #wrapper
      block content

    script(src='https://login.persona.org/include.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/vendor/jquery/jquery.min.js')
    script(src='/javascripts/vendor/moment/min/moment.min.js')
    script(src='/javascripts/vendor/animated-gif/dist/Animated_GIF.min.js')
    script(src='/javascripts/vendor/angular/angular.min.js')
    script(src='/javascripts/vendor/angular-route/angular-route.min.js')
    script(src='/javascripts/vendor/angular-socket-io/socket.js')
    script(src='/javascripts/vendor/gumhelper/gumhelper.js')
    script(src='/javascripts/lib/videoShooter.js')
    script(src='/javascripts/vendor/localforage/dist/localForage.js')
    script(src='/javascripts/app.js')
    script(src='/javascripts/factories.js')
    script(src='/javascripts/controllers.js')
    script(src='/javascripts/blocked/blocked.js')
    script(src='/javascripts/dashboard/dashboard.js')
    script(src='/javascripts/friend/friend.js')
    script(src='/javascripts/home/home.js')
    script(src='/javascripts/message/message.js')
    script(src='/javascripts/profile/profile.js')
