doctype html
html(ng-app='chatspace', manifest='#{manifest}')
  head
    title {{ 'CHATSPACES' | translate }}
    meta(content='width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0', name='viewport')
    meta(content='yes', name='apple-mobile-web-app-capable')
    base(href='/')
    link(rel='shortcut icon', href='/images/favicon.png')
    link(rel='stylesheet', href='/stylesheets/main.css')

  body(ng-controller='AppCtrl', ng-class='{ landing : !isAuthenticated }')
    #header(ng-if='isAuthenticated')
      a(class='toggle', ng-click='toggleSettings()') ≡

      #top-bar
        .profile
          a.action.add-message(href='/message', ng-click='newMessage()', title="{{ 'ADD_A_NEW_MESSAGE' | translate }}", ng-show='username') +

    #wrapper
      block content

    script(src='https://login.persona.org/include.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/vendor/jquery/jquery.js')
    script(src='/javascripts/vendor/moment/moment.js')
    script(src='/javascripts/vendor/animated-gif/dist/Animated_GIF.min.js')
    script(src='/javascripts/vendor/angular/angular.js')
    script(src='/javascripts/vendor/angular-translate/angular-translate.js')
    script(src='/javascripts/vendor/angular-translate-loader-static-files/angular-translate-loader-static-files.js')
    script(src='/javascripts/vendor/angular-route/angular-route.js')
    script(src='/javascripts/vendor/gumhelper/gumhelper.js')
    script(src='/javascripts/lib/videoShooter.js')
    script(src='/javascripts/vendor/localforage/dist/localForage.js')
    script(src='/javascripts/app.js')
    script(src='/javascripts/factories.js')
    script(src='/javascripts/controllers.js')
