/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'FiraSans-Light';
    src: url('../fonts/FiraSans-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans-Regular';
    src: url('../fonts/FiraSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    position: relative;
}

body, textarea, input {
    font-family: 'FiraSans-Light', Arial, sans-serif;
}

.default {
    margin-bottom: 30px;
    overflow-y: auto;
}

textarea {
    height: 70px;
    padding: 10px;
    resize: none;
    width: 350px;
}

h1, h2, h3 {
    color: #bbb;
    font-size: 1.8rem;
    line-height: 2rem;
    margin-bottom: 10px;
}

h3 {
    background-color: #f9f9f9;
    display: inline-block;
    font-size: 1.3rem;
    line-height: 1.2rem;
    margin-bottom: 20px;
    padding: 8px 10px;
}

#notifications, .unread {
    background-color: #f00;
    border-radius: 100px;
    color: #fff;
    display: none;
    float: left;
    font-family: Arial, sans-serif;
    height: 22px;
    line-height: 20px;
    margin: 4px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 22px;
}

#notifications.on, .unread {
    display: inline-block;
}

.unread {
    height: 20px;
    left: 48px;
    padding: 3px;
    position: absolute;
    top: 10px;
    width: 20px;
}

.toggle {
    background-color: #333;
    border: 0;
    color: #eee;
    float: left;
    font-size: 2.4rem;
    font-weight: 600;
    height: 40px;
    line-height: 2.4rem;
}

.action {
    border: 0;
    background-color: #ccc;
    color: #222;
    font-size: 2rem;
    text-align: center;
}

.add-message {
    background-color: #57dfb4;
    color: #e1fff5;
    float: right;
    font-size: 2.3rem;
    font-weight: 600;
    height: 50px;
    line-height: 2.3rem;
    text-shadow: #3c816b 0 0 1px;
    width: 50px;
}

.message {
    background-color: rgba(255, 255, 255, 0.8);
    height: 450px;
    left: 10px;
    margin-top: -490px;
    padding: 20px;
    position: absolute;
    right: 10px;
    top: 0;
    -moz-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

.message.on {
    margin-top: 70px;
    -moz-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

#header, #wrapper {
    margin: 0 auto;
    width: 1024px;
}

#top-bar {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 10px;
    position: fixed;
    top: 40px;
    width: 1004px;
    z-index: 2;
}

#header {
    background-color: rgba(1, 1, 1, 0.4);
    height: 40px;
    left: 50%;
    margin-left: -512px;
    position: fixed;
    z-index: 2;
}

#wrapper, main {
    background-color: #f0f0f0;
    height: 100%;
    overflow: hidden;
    position: relative;
}

main {
    z-index: 3;
}

.avatar {
    margin: -10px -10px 0;
    width: 50px;
}

.profile .avatar {
    float: left;
    margin: 0;
    padding: 0;
    width: 50px;
}

.friends-view, .profile-view, .landing-view {
    padding: 20px;
}

.recipient-results {
    clear: both;
    display: block;
    float: left;
    width: 100%;
}

#wrapper main > section {
    bottom: 10px;
    position: absolute;
    top: 0;
    width: 1014px;
}

#wrapper main > section.settings {
    background-color: #b0b0b0;
    color: #eee;
    padding: 20px;
    width: 944px;
}

main {
    margin-top: 40px;
}

#wrapper main > section.settings h1 {
    color: #fff;
}

#wrapper main > section.settings li {
    background-color: #ccc;
    margin: 0 -20px 2px -20px;
}

#wrapper main > section.settings li a {
    color: #555;
    font-size: 1.3rem;
    display: block;
    padding: 20px;
    text-decoration: none;
}

#wrapper main > section.settings li a:hover {
    background-color: #fff;
}

#wrapper main.off > section.settings {
    left: -984px;
    -moz-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

#wrapper main.off > section.default,
#wrapper main.on > section.settings {
    left: 0;
    -moz-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

#wrapper main.on #top-bar {
    position: absolute;
    top: 0;
}

#wrapper main.on > section.default {
    left: 984px;
    -moz-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

.dashboard-content {
    clear: both;
    display: block;
    float: left;
    width: 100%;
}

.profile {
    float: left;
    width: 100%;
}

#friend-results {
    margin: 80px 0 0 10px;
    position: fixed;
    width: 180px;
    z-index: 3;
}

#friend-results li, .search-results li, .contact-results li, .recipient-results li {
    border: 2px solid transparent;
    height: 60px;
    line-height: 50px;
    padding: 5px;
    margin-bottom: 5px;
    position: relative;
    width: 140px;
}

.search-results {
    display: block;
    position: absolute;
    top: 105px;
    z-index: 2;
}

.search-results li, .contact-results li, .recipient-results li {
    float: left;
    line-height: 40px;
    margin-bottom: 10px;
    padding: 10px 10px 0 10px;
    position: relative;
    width: 162px;
}

.recipient-results li .avatar {
    width: 40px;
}

.recipient-results li.on {
    border: 2px solid #f00;
}

.search-results li {
    background-color: rgba(8, 8, 8, 0.75);
    color: #fff;
    padding-bottom: 0;
}

.contact-results li {
    background-color: rgba(255, 255, 255, 0.85);
    margin: 2px;
}

.search-results li .avatar, .contact-results li .avatar {
    padding: 10px;
    width: 40px;
}

.form-actions {
    bottom: 0;
    position: absolute;
    right: 0;
}

.delete {
    background-color: #f00;
    border: 0;
    border-radius: 100px;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    height: 25px;
    position: absolute;
}

.search-input {
    margin-bottom: 30px;
}

.search-results .delete {
    left: 50px;
    top: 40px;
    width: 25px;
}

#message-list .delete, .contact-results .delete {
    bottom: 5px;
    right: 5px;
}

#message-list .left, #message-list .right {
    float: left;
}

#message-list .left, .no-image {
    margin-right: 5px;
    min-width: 75px;
    width: 18%;
}

#message-list .right {
    width: 80%;
}

#friend-results li {
    padding: 20px 20px 10px 20px;
}

#message-list .recipients {
    clear: both;
    float: left;
    margin-bottom: 10px;
    width: 100%;
}

#message-list .recipients img {
    height: 20px;
    width: 20px;
}

.avatar {
    border-radius: 100px;
    display: inline-block;
    float: left;
    margin-right: 10px;
    width: 70px;
}

#friend-results li.on, #friend-results li:hover {
    background-color: #f8f8f8;
    border: 2px dashed #ccc;
}

#message-list {
    display: block;
    float: right;
    margin-top: 80px;
    max-width: 810px;
    overflow-x: hidden;
    width: 100%;
}

#message-list li {
    background-color: #f8f8f8;
    clear: both;
    float: left;
    height: 100px;
    margin-bottom: 5px;
    position: relative;
    width: 100%;
}

#message-list li img {
    width: 130px;
}

#message-list li img, #message-list li .no-image {
    display: inline-block;
    float: left;
    margin-right: 10px;
    width: 130px;
}

#message-list li .no-image {
    margin-right: 20px;
}

#message-list li .no-image {
    background-color: #fff;
    height: 80px;
}

#message-list li span {
    display: inline-block;
    padding: 5px;
}

input {
    border: 1px solid #aaa;
    font-size: 1rem;
    margin: 10px 0;
    padding: 5px;
}

.errors, .info {
    font-family: 'FiraSans-Regular';
    margin: 5px 0;
    padding: 5px 10px;
}

.info {
    background-color: #4bc066;
    color: #e2ffe9;
}

.errors {
    background-color: #ed3047;
    color: #ffdde1;
}

textarea, #video-preview {
    display: inline-block;
    float: left;
    margin: 10px 0;
}

#video-preview {
    height: 160px;
    margin-bottom: 10px;
    width: 240px;
}

video {
    height: 160px;
    width: 240px;
}

@media only screen and (max-width: 993px) {
    .message {
        height: 400px;
        margin-top: -440px;
    }

    #header, #wrapper {
        width: 728px;
    }

    #header {
        margin-left: -364px;
    }

    #top-bar {
        width: 708px;
    }

    #message-list {
        width: 515px;
    }

    #wrapper main > section {
        width: 718px;
    }

    #wrapper main > section.settings {
        width: 648px;
    }

    #wrapper main.off > section.settings {
        left: -718px;
    }

    #wrapper main.on > section.default {
        left: 718px;
    }
}

@media only screen and (max-width: 727px) {
    textarea {
        height: 80px;
        width: 340px;
    }

    #friend-results {
        float: left;
        position: relative;
    }

    .message {
        height: 400px;
        margin-top: -440px;
    }

    #header, #wrapper {
        width: 420px;
    }

    #header {
        margin-left: -210px;
    }

    #top-bar {
        width: 400px;
    }

    #friend-results {
        margin-bottom: 10px;
        width: 100%;
    }

    #friend-results li {
        float: left;
        height: 30px;
        line-height: 20px;
        margin: 3px;
        width: 150px;
    }

    #friend-results li img {
        width: 40px;
    }

    #message-list {
        float: left;
        margin: 0;
        padding: 0 10px;
        width: 400px;
    }

    #wrapper main > section {
        width: 420px;
    }

    #wrapper main > section.settings {
        width: 340px;
    }

    #wrapper main.off > section.settings {
        left: -380px;
    }

    #wrapper main.on > section.default {
        left: 380px;
    }
}

@media only screen and (max-width: 459px) {
    textarea {
        height: 100px;
        width: 200px;
    }

    .message {
        height: 450px;
        margin-top: -500px;
        width: 220px;
    }

    #header, #wrapper {
        width: 280px;
    }

    #header {
        margin-left: -140px;
    }

    #top-bar {
        width: 260px;
    }

    #friend-results li {
        margin: 0 0 5px 0;
        width: 215px;
    }

    #message-list, #friend-results {
        width: 260px;
    }

    #message-list li {
        height: auto;
    }

    #message-list li span {
        clear: both;
        display: block;
        margin-top: 5px;
        padding: 10px;
    }

    #wrapper main > section {
        width: 240px;
    }

    #wrapper main > section.settings {
        width: 200px;
    }

    #wrapper main.off > section.settings {
        left: -240px;
    }

    #wrapper main.on > section.default {
        left: 240px;
    }
}
