/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'FiraSans-Light';
    src: url('../fonts/FiraSans-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans-Regular';
    src: url('../fonts/FiraSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, textarea, input {
    font-family: 'FiraSans-Light', Arial, sans-serif;
}

h1, h2, h3 {
    color: #bbb;
    font-size: 1.8rem;
    line-height: 2rem;
    margin-bottom: 10px;
}

h3 {
    background-color: #f9f9f9;
    display: inline-block;
    font-size: 1.3rem;
    line-height: 1.2rem;
    margin-bottom: 20px;
    padding: 8px 10px;
}

#header, #wrapper {
    margin: 2px auto 0 auto;
    width: 1024px;
    position: relative;
}

#header {
    background-color: #f1f1f1;
    height: 40px;
}

#wrapper {
    background-color: #f0f0f0;
    height: 440px;
    overflow: hidden;
}

#wrapper main > section {
    height: 400px;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 984px;
}

#wrapper main > section.settings {
    background-color: #b0b0b0;
    color: #eee;
    position: relative;
    width: 944px;
}

#wrapper main > section.settings h1 {
    color: #fff;
}

#wrapper main > section.settings li {
    background-color: #ccc;
    margin: 0 -20px 2px -20px;
}

#wrapper main > section.settings li a {
    color: #555;
    font-size: 1.3rem;
    display: block;
    padding: 20px;
    text-decoration: none;
}

#wrapper main > section.settings li a:hover {
    background-color: #fff;
}

#wrapper main.off > section.settings {
    left: -984px;
    -moz-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

#wrapper main.off > section.default,
#wrapper main.on > section.settings {
    left: 0;
    -moz-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

#wrapper main.on > section.default {
    left: 984px;
    -moz-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

input {
    border: 1px solid #aaa;
    font-size: 1rem;
    margin: 10px 0;
    padding: 5px;
}

.errors, .info {
    font-family: 'FiraSans-Regular';
    margin: 5px 0;
    padding: 5px 10px;
}

.info {
    background-color: #4bc066;
    color: #e2ffe9;
}

.errors {
    background-color: #ed3047;
    color: #ffdde1;
}

@media only screen and (max-width: 993px) {
    #header, #wrapper {
        width: 728px;
    }

    #wrapper main > section {
        width: 688px;
    }

    #wrapper main > section.settings {
        width: 648px;
    }

    #wrapper main.off > section.settings {
        left: -688px;
    }

    #wrapper main.on > section.default {
        left: 688px;
    }
}

@media only screen and (max-width: 727px) {
    #header, #wrapper {
        width: 420px;
    }

    #wrapper main > section {
        width: 380px;
    }

    #wrapper main > section.settings {
        width: 340px;
    }

    #wrapper main.off > section.settings {
        left: -380px;
    }

    #wrapper main.on > section.default {
        left: 380px;
    }
}

@media only screen and (max-width: 459px) {
    #header, #wrapper {
        width: 280px;
    }

    #wrapper main > section {
        width: 240px;
    }

    #wrapper main > section.settings {
        width: 200px;
    }

    #wrapper main.off > section.settings {
        left: -240px;
    }

    #wrapper main.on > section.default {
        left: 240px;
    }
}
