<section>
  <div class="info-box">
    <div ng-if="info" class="info">
      <p>{{ info }}</p>
    </div>
    <div ng-if="errors" class="errors">
      <p>{{ errors }}</p>
    </div>
  </div>
  <input type="hidden" name="picture" ng-model="picture">
  <input type="hidden" name="recipient[{{ value }}]" value="{{ value }}" ng-repeat="(key, value) in recipients track by $index" ng-if="!senderKey">
  <input type="hidden" name="recipient[{{ recipient }}]" value="{{ recipient }}" ng-repeat="recipient in recipients track by $index" ng-if="senderKey">
  <div class="text-box">
    <input type="text" class="message-field" ng-model="$parent.message" placeholder="Add optional message">
    <button class="message-button submit" type="button" ng-click="promptCamera()">{{ 'NEXT' | translate }}</button>
  </div>
</section>
