<div id="top-bar">
  <div class="profile">
    <img src="{{ gravatar }}" class="avatar">
    <button class="action add-message" title="new message" ng-click="toggleMessage()">+</button>
  </div>
</div>

<div class="dashboard-content">
  <ul id="friend-results">
    <li ng-repeat="friend in friends track by $index" ng-class="{ on: selectedFriend === friend.userHash }">
      <span class="unread" ng-if="friend.unread > 0">{{ friend.unread }}</span>
      <img src="{{ friend.avatar }}" ng-click="getMessages(friend)" class="avatar"><span>{{ friend.username }}</span>
    </li>
  </ul>

  <ul id="message-list">
    <li ng-show="isLoading" class="loader">Loading ...</li>
    <li ng-repeat="message in messages track by $index">
      <div class="image left">
        <img src="{{ message.value.media }}">
      </div>
      <div class="right">
        <div class="recipients">
          <img src="http://www.gravatar.com/avatar/{{ recipient }}?s=20" ng-repeat="recipient in message.value.recipients track by $idx">
        </div>
        <p>{{ message.value.message }}</p>
        <p>posted: {{ getDate(message.value.created) }}</p>
        <button class="delete" ng-click="deleteMessage(message, $index)">X</button>
      </div>
    </li>
  </ul>
</div>

<form ng-submit="sendMessage()" class="message" ng-class="{ on: showMessage }">
  <div ng-if="info" class="info">
    <p>{{ info }}</p>
  </div>
  <div ng-if="errors" class="errors">
    <p>{{ errors }}</p>
  </div>
  <button type="button" ng-click="promptCamera()">GIFCam!</button>
  <div id="video-preview"></div>
  <textarea ng-model="message"></textarea>
  <input type="hidden" name="picture" ng-model="picture">
  <ul class="recipient-results">
    <li ng-repeat="(key, value) in friends track by $index" ng-class="{ on: recipients[value.userHash] }">
      <a href="javascript:;" ng-click="toggleRecipient(value.userHash, $index)">
        <img src="{{ value.avatar }}" class="avatar"><span>{{ value.username }}</span>
      </a>
    </li>
  </ul>
  <input type="hidden" name="recipient[{{ value.userHash }}]" value="{{ value.userHash }}" ng-repeat="(key, value) in recipients track by $index">
  <div class="form-actions">
    <button type="submit" class="action">Send</button>
    <button type="button" ng-click="toggleMessage()" class="action">X</a>
  </div>
</form>
