<button class="action add-message" title="new message" ng-click="toggleMessage()">+</button>

<img src="{{ gravatar }}" class="avatar">

<ul class="friend-results">
  <li ng-repeat="(key, value) in friends track by $index">
    <img src="{{ value }}" ng-click="getMessages(key)"><span>{{ key }}</span>
  </li>
<ul>

<form ng-submit="sendMessage()" class="message">
  <div ng-if="info" class="info">
    <p>{{ info }}</p>
  </div>
  <div ng-if="errors" class="errors">
    <p>{{ errors }}</p>
  </div>
  <textarea ng-model="message"></textarea>
  <div id="video-preview"></div>
  <input type="hidden" name="picture" id="picture">
  <ul class="search-results">
    <li ng-repeat="(key, value) in friends track by $index">
      <a href="javascript:;" ng-click="addRecipient(key)">
        <img src="{{ value }}"><span>{{ key }}</span>
      </a>
    </li>
  <ul>
  <input name="recipient[{{ value }}]" value="{{ value }}" ng-repeat="(key, value) in recipients track by $index">
  <button type="submit" class="action">Send</button>
  <button type="button" ng-click="toggleMessage()" class="action">X</a>
</form>
