<div class="friends-view">
  <h2>Search for contacts</h2>

  <input ng-change="searchUsers()" ng-model="user" placeholder="Type in a username" class="search-input">

  <ul class="search-results">
    <li ng-repeat="user in users | orderObjectBy:friendPredicate:true" ng-click="requestFriend(user)">
      <img src="{{ user.avatar }}" class="avatar"><span>{{ user.username }}</span>
    </li>
  </ul>

  <h2>Added contacts <a href="/blocked">Blocked Users</a></h2>

  <ul class="contact-results">
    <li ng-repeat="(key, value) in friends | orderObjectBy:friendPredicate:true">
      <img src="{{ value.avatar }}" class="avatar"><span>{{ value.username }}</span>
      <button class="delete" ng-click="deleteFriend(value.userHash)">X</button>
      <a href="javascript:;" ng-click="blockUser(value.userHash)">Block</a>
    </li>
  </ul>
</div>
