<h2>Search for contacts</h2>

<input ng-change="searchUsers()" ng-model="user" placeholder="Type in a username">

<ul class="search-results">
  <li ng-repeat="user in users track by $index" ng-click="requestFriend(user)">
    <img src="{{ user.avatar }}" class="avatar"><span>{{ user.username }}</span>
  </li>
<ul>

<h2>Added contacts</h2>

<ul class="search-results">
  <li ng-repeat="(key, value) in friends track by $index">
    <img src="{{ value }}" class="avatar"><span>{{ key }}</span>
  </li>
<ul>
