<div class="friends-view">
  <h2>{{ 'FRIENDS' | translate }}</h2>

  <ul class="user-results">
    <li ng-repeat="(key, value) in friends | orderObjectBy:friendPredicate:true">
      <div class="avatar">
        <img src="{{ value.avatar }}">
      </div>
      <span>{{ value.username }}</span>
      <button class="delete" ng-click="deleteFriend(value.userHash)">{{ 'UNFOLLOW' | translate }}</button>
      <a href="javascript:;" class="block" ng-click="blockUser(value.userHash)">{{ 'BLOCK' | translate }}</a>
    </li>
  </ul>
</div>
