<div class="profile-view">
  <h1 ng-show="!currUsername">{{ 'CREATE_YOUR_PROFILE' | translate }}</h1>

  <section ng-show="!currUsername">
    <h2>{{ 'CREATE_A_USERNAME' | translate }}</h2>
    <form ng-submit="updateProfile()">
      <div ng-if="info" class="info">
        <p>{{ info }}</p>
      </div>
      <div ng-if="errors" class="errors">
        <p>{{ errors }}</p>
      </div>
      <input type="text" ng-model="username" placeholder="Create a username" value="{{ username }}" required>
      <p>{{ 'YOUR_USERNAME_IS_HOW' | translate }}</p>
    </form>
    <div class="actions">
      <button type="button" ng-click="saveUsername()">{{ 'NEXT' | translate }}</button>
    </div>
  </section>
  <section ng-show="selectedUsername" class="actions">
    <img src="{{ avatar }}">
    <div class="actions">
      <button ng-click="promptCamera()">{{ 'TAKE_A_PIC' | translate }}</button>
      <button ng-click="searchFriends()">{{ 'DONE' | translate }}</button>
    </div>
  </section>
</div>
<div ng-include="'/partials/includes/camera_avatar.html'" ng-show="showCamera"></div>
