<div class="profile-view">
  <h1>Your profile</h1>

  <section>
    <img src="{{ avatar }}">
    <button ng-click="promptCamera()" class="submit right">Take a pic!</button>
  </section>

  <p>Current username: {{ currentUsername || username }}</p>

  <h2>Update your username</h2>
  <form ng-submit="updateProfile()">
    <div ng-if="info" class="info">
      <p>{{ info }}</p>
    </div>
    <div ng-if="errors" class="errors">
      <p>{{ errors }}</p>
    </div>
    <input type="text" ng-model="username" placeholder="Create a username" value="{{ username }}" required>
  </form>

  <h2>Reset local cache</h2>
  <div class="info-box">
    <div ng-if="cacheInfo" class="info">
      <p>{{ cacheInfo }}</p>
    </div>
  </div>
  <button ng-click="resetCache()" class="submit message-button">Reset</button>
</div>
<div ng-include="'/partials/includes/camera_avatar.html'" ng-show="showCamera"></div>
