<div class="profile-view">
  <h1>{{ 'YOUR_PROFILE' | translate }}</h1>

  <section>
    <img src="{{ avatar }}">
    <button ng-click="promptCamera()">{{ 'TAKE_A_PIC' | translate }}</button>
  </section>

  <p>{{ 'CURRENT_USERNAME' | translate }}: {{ currentUsername || username }}</p>

  <h2>{{ 'UPDATE_YOUR_USERNAME' | translate }}</h2>
  <form ng-submit="updateProfile()">
    <div ng-if="info" class="info">
      <p>{{ info }}</p>
    </div>
    <div ng-if="errors" class="errors">
      <p>{{ errors }}</p>
    </div>
    <input type="text" ng-model="username" placeholder="Create a username" value="{{ username }}" required>
  </form>

  <h2>{{ 'RESET_LOCAL_CACHE' | translate }}</h2>
  <div class="info-box">
    <div ng-if="cacheInfo" class="info">
      <p>{{ cacheInfo }}</p>
    </div>
  </div>
  <button ng-click="resetCache()" class="submit message-button">{{ 'RESET' | translate }}</button>
</div>
<div ng-include="'/partials/includes/camera_avatar.html'" ng-show="showCamera"></div>
