<div class="dashboard-content">
  <ul id="message-list">
    <li ng-show="isLoading" class="loader">Loading ...</li>
    <li class="form-content">
        <form ng-submit="sendMessage()">
          <section>
            <div class="info-box">
               <div ng-if="info" class="info">
                 <p>{{ info }}</p>
               </div>
               <div ng-if="errors" class="errors">
                 <p>{{ errors }}</p>
               </div>
            </div>
            <div class="cam-box">
               <div id="video-preview"></div>
               <button class="message-button" type="button" ng-click="promptCamera()">GIFCam!</button>
               <input type="hidden" name="picture" ng-model="picture">
               <input type="hidden" name="recipient[{{ recipient }}]" value="{{ recipient }}" ng-repeat="recipient in recipients track by $index">
            </div>
            <div class="text-box">
              <textarea ng-model="message" required></textarea>
            </div>
            <div class="send-box">
               <button class="message-button" type="submit">Send</button>
            </div>
          </section>
        </form>
        <div class="posting" ng-if="posting">Posting, please wait!</div>
    </li>
    <li ng-repeat="message in messages track by $index">
      <div class="image left">
        <img src="{{ message.value.media }}">
      </div>
      <div class="right">
        <p>{{ message.value.message }}</p>
        <p>posted: {{ getDate(message.value.created) }}</p>
      </div>
    </li>
  </ul>
</div>
<ul class="recipient-list">
  <li>
    <img src="//www.gravatar.com/avatar/{{ recipient }}?size=50" ng-repeat="recipient in recipients track by $index">
  </li>
</ul>
